{% extends "base.html" %}
{% load static tailwind_tags %}

{% block title %}Login: Kaffa Coffee Company{% endblock title %}

{% block content %}
<!--User Registration form-->
<div class="flex w-full justify-center mb-10 font-ancizar-sans text-[#3F281C]">
  <div class="w-2/5">
    <h1 class="flex font-ranchers text-6xl font-bold mb-10 border-b py-4 border-[#604333]">Create your account</h1>
    <form 
      method="POST"
      action="{% url 'signin' %}"
      class="flex flex-col gap-2 text-lg border border-gray-200 rounded-xl shadow-2xl px-28 py-10"
    >
      {% csrf_token %}
      <p class="font-light">* indicates required field</p>

      <input type='email' placeholder='* Email' class="border p-2 px-4 rounded-lg" name="email" required></input>
      <input type='password' placeholder='* Password' class="border p-2 px-4 rounded-lg" name="password" required></input>

      <span class="font-light mt-8 mb-2">Don't have an account? <a href="{% url 'signup' %}" class="font-semibold hover:underline hover:underline-offset-4">Sign up</a></span>
      <button type="submit" class="p-2 px-4 border border-emerald-700 bg-emerald-700 text-white rounded-full cursor-pointer hover:bg-emerald-800 transition delay-100">Sign in</button>
    </form>
  </div>
</div>
{% endblock content %}