{% extends "base.html" %}
{% load static tailwind_tags %}

{% block title %}Menu{% endblock title %}

{% block content %}
<!--MENU-->
<div class="flex w-full justify-center mb-10">
  <div class="w-1/2 font-light font-ancizar-sans text-[#3F281C]">
    <h1 class="flex text-6xl font-bold mb-10 font-ranchers">Menu</h1>
    <h2 class="flex text-5xl font-normal mb-5 border-b border-[#604333] pb-4">Hot Coffee</h2>
    <div class="grid grid-cols-3 gap-8">
      {% for item in items %}
        {% if item.category.name == 'HotCoffee' %}
          <a href={% url 'product' item.id %} class='cursor-pointer'>
            <img src=/{{ item.image }} class="w-full h-72 object-cover rounded-xl border-4 border-[#3F281C]"></img>
            <h3 class="text-2xl font-semibold">{{ item.name }}</h3>
            <p class="text-lg font-medium">${{ item.price }}</p>
          </a>
        {% endif %}
      {% endfor %}
    </div>

    <h2 class="flex text-5xl font-normal mt-10 mb-5 border-b border-[#604333] pb-4">Cold Coffee</h2>
    <div class="grid grid-cols-3 gap-8">
      {% for item in items %}
        {% if item.category.name == 'ColdCoffee' %}
          <a href={% url 'product' item.id %} class='cursor-pointer'>
            <img src=/{{ item.image }} class="w-full h-72 object-cover rounded-xl border-4 border-[#3F281C]"></img>
            <h3 class="text-2xl font-semibold">{{ item.name }}</h3>
            <p class="text-lg font-medium">${{ item.price }}</p>
          </a>
        {% endif %}
      {% endfor %}
    </div>

    <h2 class="flex text-5xl font-normal mt-10 mb-5 border-b border-[#604333] pb-4">Breakfast</h2>
    <div class="grid grid-cols-3 gap-8">
      {% for item in items %}
        {% if item.category.name == 'Breakfast' %}
          <a href={% url 'product' item.id %} class='cursor-pointer'>
            <img src=/{{ item.image }} class="w-full h-72 object-cover rounded-xl border-4 border-[#3F281C]"></img>
            <h3 class="text-2xl font-semibold">{{ item.name }}</h3>
            <p class="text-lg font-medium">${{ item.price }}</p>
          </a>
        {% endif %}
      {% endfor %}
    </div>

    <h2 class="flex text-5xl font-normal mt-10 mb-5 border-b border-[#604333] pb-4">Snacks</h2>
    <div class="grid grid-cols-3 gap-8">
      {% for item in items %}
        {% if item.category.name == 'Snacks' %}
          <a href={% url 'product' item.id %} class='cursor-pointer'>
            <img src=/{{ item.image }} class="w-full h-72 object-cover rounded-xl border-4 border-[#3F281C]"></img>
            <h3 class="text-2xl font-semibold">{{ item.name }}</h3>
            <p class="text-lg font-medium">${{ item.price }}</p>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}