{% extends "base.html" %}
{% load static tailwind_tags %}

{% block title %}Cart: Kaffa Coffee Company{% endblock title %}

{% block content %}
<!--Order Confirmation Content-->
<div class="flex w-full justify-center mb-10 font-atkinson-mono  text-[#3F281C]">
  <div class="w-1/2 font-light">
    <h1 class="flex text-6xl font-bold font-ranchers mb-10 border-b py-4 border-[#604333]">Orders</h1>
    <div class="text-center text-lg mb-6 font-ancizar-sans">
      <p>Thank you for your order! We're preparing it with care.</p>
      <p>Please head to the counter to collect your items shortly.</p>
      <p>We hope you enjoy your Kaffa experience!</p>
    </div>        

    {% for order in orders %}
    <div class="flex border border-gray-300 shadow rounded-2xl mb-2 p-4 {% if order.status == 'pending' %} bg-yellow-200 {% elif order.status == 'completed' %} bg-green-200 {% elif order.status == 'cancelled' %} bg-red-200 {% endif %}">
      
        <div class="basis-1/2">
          <div class="text-xl">{{ order.order_date }}</div>
          <div class="flex text-center font-bold text-lg">
            ${{ order.total_amount }}
          </div>
        </div>
        <div class="flex basis-1/2 justify-end font-bold text-2xl items-start">{{ order.status }}</div>
    </div>
    {% endfor %}
    
  </div>
</div>
{% endblock content %}