{% extends "base.html" %}
{% load static tailwind_tags %}

{% block title %}{{ product.name|default:"Product" }}: Kaffa Coffee Company{% endblock title %}

{% block content %}
<!--About the Product-->
<div class="flex w-full justify-center mb-10 py-8 bg-[#3F281C] font-ancizar-sans text-[#E6E1D5]">
  <div class="w-4/5 flex gap-4">
    <div class="basis-1/2 flex justify-center">
      <img src=/{{ product.image }} class="w-72 h-72 object-cover rounded-xl border-4 border-[#E6E1D5]"></img>
    </div>
    <div class="basis-1/2 flex items-center">
      <div class="">
        <div class="flex text-6xl font-bold font-ranchers">{{ product.name }}</div>
        <div class="text-3xl">${{ product.price }}</div>
      </div>
    </div>
  </div>
</div>

<div class="flex w-full justify-center mb-10 font-ancizar-sans text-[#3F281C]">
  <div class="w-4/5 flex gap-4">
    <div class="basis-1/2 justify-center px-10">
      <p class="text-xl">{{ product.description }}</p>
      <br>
      <p class="text-lg">{{ product.nutrition }}</p>
    </div>
    <!--Select Drink Size-->
    <form method="POST" action="{% url 'addToCart'%}" class="basis-1/2 flex flex-col gap-4 px-10">
      {% csrf_token %}
      {% if product.category.name == "HotCoffee" or product.category.name == "ColdCoffee" %}
      <div class="flex text-4xl">Size Options</div>
      <div class="flex items-end gap-10 mb-5 text-lg">
        <div class="flex flex-col">
          <img src={% static 'img/small.svg' %} class="h-auto mb-2"/>
          <div class="font-semibold text-center">Small</div>
          <div class="text-center">8 fl oz</div>
          <input type="radio" name="size" value='S'>
        </div>
        <div class="flex flex-col">
          <img src={% static 'img/medium.svg' %} class="h-auto mb-2"/>
          <div class="font-semibold text-center">Medium</div>
          <div class="text-center">12 fl oz</div>
          <input type="radio" name="size" value='M' checked>
        </div>
        <div class="flex flex-col">
          <img src={% static 'img/large.svg' %} class="h-auto mb-2"/>
          <div class="font-semibold text-center">Large</div>
          <div class="text-center">16 fl oz</div>
          <input type="radio" name="size" value='L'>
        </div>
      </div>
      {% else %}
        <input type="hidden" name="size" value="M">
      {% endif %}
      <div>
        <label class="text-3xl">Quantity</label>
        <div class="flex gap-4 w-1/2 mt-2">
          <button id="decrease-quantity" class="rounded w-1/4 text-xl text-red-800 font-extrabold p-2 bg-red-300 hover:bg-red-400">-</button>
          <input id="quantity-input" name="quantity-input" type='number' class="flex border w-1/2 rounded px-6" min="1" max="5" value="1"/>
          <button id="increase-quantity" class="rounded w-1/4 text-xl text-emerald-800 font-extrabold p-2 bg-emerald-300 hover:bg-emerald-400">+</button>
        </div>
      </div>
      <div>
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <button type="submit" class="p-2 px-6 border border-emerald-700 bg-emerald-700 text-white rounded-full cursor-pointer hover:bg-emerald-800 transition delay-100">Add to Cart</button>
      </div>
    </form>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const decreaseButton = document.getElementById('decrease-quantity');
    const increaseButton = document.getElementById('increase-quantity');
    const quantityInput = document.getElementById('quantity-input');

    if (decreaseButton && increaseButton && quantityInput) {
      decreaseButton.addEventListener('click', function(event) {
        event.preventDefault(); // Prevent form submission if inside a form
        let currentValue = parseInt(quantityInput.value);
        if (currentValue > 1) {
          quantityInput.value = currentValue - 1;
        }
      });

      increaseButton.addEventListener('click', function(event) {
        event.preventDefault(); // Prevent form submission if inside a form
        let currentValue = parseInt(quantityInput.value);
        if (currentValue < 5 ) {
          quantityInput.value = currentValue + 1;
        }
      });
    }
  });
</script>
{% endblock content %}